body{
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to right,#ff7171,#91d18b);
}

#calculator{
    width: 320px;
    height: 530px;
    margin:0 auto;
    top:20px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result{
    background-color: white;
    margin-bottom: 0px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px 0px;
	font-size: 30px;
}
#keyword{
    height: 400px;
    background-color:#2d4059;
}
.operator, .number, .empty {
     
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-width: 0px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 2px;
}

.number, .empty{
    background-color: transparent;
}

.number:hover{
    background-color: tomato;
}

.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}

button:nth-child(4){
	font-size: 20px;
	background-color: #20b2aa;
}
button:nth-child(8){
	font-size: 20px;
	background-color: #ffa500;
}
button:nth-child(12){
	font-size: 20px;
	background-color: #f08080;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #7d93e0;
}
button:nth-child(20){
	font-size: 20px;
	background-color: #9477af;
}